#ignore all files expect which meet the rule below
*

!*/
!/.gitignore
#enable cpp files
!*.cc
!*.hpp
!*.cpp
!*.h

#enable go files
!*.go

#enable python files
!*.py

#enable scipt files
!*.ahk
!*.bat

#enable res files
!*.jpg
!*.png

#enable qt files
!*.ui
!*.qrc
!*.qss

#enable doc files
!*.md

#enable project files
!*Makefile
!*makefile
!*.pro
!*.pri
!*.sln
!*.vcxproj
!*.vcxproj.filter
!*.cmake
!*CMakeLists.txt

#enable vscode config files
!*c_cpp_properties.json
!*launch.json
!*tasks.json
!*settings.json

#igore qt generate files
ui*.h
*moc*.h
*qrc*.cpp

#ignore build dirs
*Debug
*Release
*build