[Desktop Entry]
    Type=Application
    Version=0.19.7
    Name=Clash for Windows
    Comment=Clash for Windows startup script
    Exec=/opt/clash-for-windows-bin/cfw
    StartupNotify=false
    Terminal=false